<div class="body">
    <div id="item" ng-repeat="item in $ctrl.lents">
    	<div id="title">{{item.title}}</div>
    	<div>
    		<p ng-repeat="text in item.text">{{text}}</p>
    	</div>
    	<div ng-if="item.img!==''">
    		<img src="{{item.img}}">
    	</div>
    </div>
</div>
<style>
    #to-home {
        background: linear-gradient(to top, #fefcea, #266ab7);
        color: #06144e;
        box-shadow:
        0 1px 4px rgba(0, 0, 0, .3),
        -23px 0 20px -23px rgba(0, 0, 0, .8),
        23px 0 20px -23px rgba(0, 0, 0, .8),
        0 0 40px rgba(0, 0, 0, .1) inset;
    }
    
	#title {
		font-size: 20px;
	}

	img {
		width: 100%;
	}

    #to-home-column:before,
    #to-home-column:after {opacity: 1;}
    #to-home-column div {color: #F58262;}
</style>