<div class="body">
	<div id="info">
		<span>Прежде чем отправлять решение на проверку, изучите <a href="#!/task-information">информацию</a>	по оформлению решения задачи для отправки на проверку</span>
	</div>
	<div id="task" ng-repeat="task in $ctrl.allTasks">
		<a href="#!/task/{{task.href}}">{{task.title}}</a>
	</div>
</div>
<style>
#to-archieve {
  background: linear-gradient(to top, #fefcea, #266ab7);
  color: #06144e;
  box-shadow:
     0 1px 4px rgba(0, 0, 0, .3),
     -23px 0 20px -23px rgba(0, 0, 0, .8),
     23px 0 20px -23px rgba(0, 0, 0, .8),
     0 0 40px rgba(0, 0, 0, .1) inset;
}

#task {
  height: 60px;
  padding: 20px 20px;
  box-sizing: border-box;
  background: lavender;
  margin-top: 3px;
  margin: auto;
  width: calc(100% - 2px);
  margin-bottom: 5px; 
}

#info {
  padding: 0 25px;
  box-sizing: border-box;
  margin-bottom: 25px;
}

#info span a {
  color: #218be8;
}

#info span a:hover {
  color: red;
}

#task a:hover {
  color: #218be8;
}

#task:hover {
  box-shadow: 0 0 10px #218be8;
}

#to-archieve-column:before,
#to-archieve-column:after {opacity: 1;}
#to-archieve-column div {color: #F58262;}
</style>